// ================================================================================================================================================================================================================================================================================================================================
// VARS \\
@import './assets/scss/vars';
// VARS \\
// ================================================================================================================================================================================================================================================================================================================================
// FONTS \\
//** GOOGLE FONTS **\\
//! &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap&subset=cyrillic-ext');
//** GOOGLE FONTS **\\
// DEFAULT FONT \\
$fontFamily: 'Nunito Sans';
$fontSize: 14;
$fontWeight: 600;
$mainColor: #fff;
// DEFAULT FONT \\
// FONTS \\
// ================================================================================================================================================================================================================================================================================================================================
// RESET STYLES \\
@import './assets/scss/reset';
// RESET STYLES \\
// ================================================================================================================================================================================================================================================================================================================================
// UI \\
@import './assets/scss/ui';
// UI \\
// ================================================================================================================================================================================================================================================================================================================================
